# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build
build/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Claude Code
.claude/

# CocoaPods
Pods/
Podfile.lock
